:root {
    --primary-color: whitesmoke;
    --pink: #fc036b;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    overflow-x: hidden;
}
html {
    font-size: 62.5%;
}
.nav-active--home {
    font-size: 1.8rem;
    color: var(--pink);
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
/* NAVBAR */

.navbar {
    display: flex;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: var(--primary-color);
}

ul {
    list-style: none;
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-links li {
    margin: 0 30px;
}
.nav-links a {
    color: var(--primary-color);
    font-size: 1.6rem;
}
/* HEADER */

header {
    width: 100%;
    height: 100vh;
    background-image: url('https://static.nationalgeographicla.com/files/styles/image_3200/public/prod-yourshot-1528686-10557562.jpg?w=1600&h=900');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content {
    width: 100%;
    margin-bottom: 15rem;
    color: var(--primary-color);
    text-align: center;
}
.header-content h2 {
    font-size: 2rem;
}
.line {
    width: 150px;
    height: 4px;
    background: var(--pink);
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1 {
    width: 90%;
    margin: 0 auto;
    font-size: 2.8rem;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn {
    font-size: 1.6rem;
    text-decoration: none;
    padding: 8px 15px;
    background:  var(--pink);
    color: var(--primary-color);
    border-radius: 30px;
    cursor: pointer;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: none;
}

/* Events */

.Events-container{
    width: 90%;
    margin: 80px auto;
}
.Events-container--tittle h1 {
    text-align: center;
    font-size: 2.8rem;
    color: #49497e;
    margin-bottom: 10px;
}
.Events-container--images{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
}
.Events-container--images .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Events-container--images .col img{
    min-width: 280px;
    width: 90%;
    height: 300px;
}
h4 {
    font-size: 1.8rem;
    margin: 20px auto;
    color: #484872;
}
p {
    color: #605f5f;
    padding: 0px 40px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8rem;
}
.Events-container--images .ctn {
    margin-top: 30px;
}

/* EXPLORE */

.explore {
    width: 100%;
    height: 100vh;
    background-image: url('./img/explore.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}
.explore-content {
    width: 60%;
    height: 100%;
    padding: 50px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.explore-content h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 3.4rem;
}
.explore-content .line {
    margin-top: 5px;
    margin-bottom: 35px;
}
.explore-content p {
    text-align: center;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8rem;
}
.explore-content .ctn {
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin-top: 40px;

}
/* TOURS */
.tours {
    margin-bottom: 30px;
}

.tours-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
}
.tours .tours-container  col {
    text-align: center;
    
}
.content-col {
    width: 40%;
    margin-left: 40px;
}
.image-col {
    width: 60%;
}
.tours .image-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.image-gallery img {
    max-width: 300px;
    margin: 10px;
}
.content-col h1 {
    font-size: 4rem;
    font-weight: bold;
    line-height: 3.4rem;
    color: #484872;
}
.content-col .line{
    margin: 10px -1px;
}
.content-col p {
    padding: 0;
    margin: 30px auto;
}

/* FOOTER */

footer {
    width: 100%;
    min-height: 120px;
    padding: 20px 80px;
    margin: 0;
    background: #484872;
    text-align: center;
}
footer p {
    color: var(--primary-color);
    margin: 20px auto;
    padding: 20px auto;
}

/* Mobile device */
@media only screen and (max-width: 850px){
    .menu-btn{
        display: block;
    }
    .navbar {
        padding: 0;
    }
    .nav-logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #3f3f68;
        margin-top: -1000px;
        transition: all 0.5s ease;
    }
    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .nav-links li {
        margin: 30px auto;
    }
    .nav-links a {
        color: var(--primary-color);
    }
    /*Events*/
    .Events-container--images {
        flex-direction: column;
    }
    .Events-container--images .col {
        margin: 20px auto;
    }

    /* Explore */

    .explore-content {
        width: 100%;
    }

    /* Tours */
    
    .tours .col {
        width: 100%;
    }
    .tours-container {
        flex-direction: column;
    }
    .image-gallery {
        margin-top: 30px;
        justify-content: center;
        align-items: center;
    }
    .image-gallery img {
        min-width: 350px;
    }
    footer {
        padding: 10px;
    }
}

/* Animations */

img {
    transition: transform .3s ease;
}
img:hover {
    transform: scale(1.1);
}

.ctn:hover {
    background-color: var(--primary-color);
    color: var(--pink);
    box-shadow: 1px 1px 4px #00000056;
}
.a:hover {
    color: var(--pink);
    cursor: pointer;
}
.nav-active--home:hover {
    color: var(--primary-color);
}